./data-engineering-spark/.git/objects/pack/pack-37a2ab3d2494c52c21a772d0e4c01ddeb68d6b0f.pack
./data-engineering-spark/data/retail_db_json/order_items/part-r-00000-6b83977e-3f20-404b-9b5f-29376ab1419e
./data-engineering-spark/data/nyse/nyse_data.tar.gz
./data-engineering-spark/data/lca/LCA_FY2010.csv.gz
./data-engineering-spark/data/lca/LCA_FY2011.csv.gz
./data-engineering-spark/data/lca/LCA_FY2012.csv.gz
./data-engineering-spark/data/lca/LCA_FY2013.csv.gz
